{% extends 'index.html' %}

{% block content %}
    <h4 class="mb-3">{{ form_title }}</h4>

    <form method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label>Name</label>
            <input type="text" name="name" value="{{ employee.name }}" class="form-control" required>
        </div>
        <div class="mb-3">
            <label>Email</label>
            <input type="email" name="email" value="{{ employee.email }}" class="form-control" required>
        </div>
        <div class="mb-3">
            <label>Position</label>
            <input type="text" name="Position" value="{{ employee.Position }}" class="form-control" required>
        </div>
        <div class="mb-3">
            <label>Department</label>
            <input type="text" name="dept" value="{{ employee.dept }}" class="form-control" required>
        </div>
        <div class="mb-3">
            <label>Phone Number</label>
            <input type="text" name="phone" value="{{ employee.phone }}" class="form-control" required>
        </div>
        <div class="mb-3">
            <label>Salary</label>
            <input type="text" name="salary" value="{{ employee.salary }}" class="form-control" required>
        </div>
        <div class="mb-3">
            <label>Hiring Date</label>
            <input type="date" name="hire_date" value="{{ employee.hire_date }}" class="form-control" required>
        </div>
        <div class="mb-3">
            <label>Blood Group</label>
            <select name="blood_group" class="form-control" required>
                <option value="">Select</option>
                <option value="A+" {% if employee.blood_group == "A+" %}selected{% endif %}>A+</option>
                <option value="A-" {% if employee.blood_group == "A-" %}selected{% endif %}>A-</option>
                <option value="B+" {% if employee.blood_group == "B+" %}selected{% endif %}>B+</option>
                <option value="B-" {% if employee.blood_group == "B-" %}selected{% endif %}>B-</option>
                <option value="AB+" {% if employee.blood_group == "AB+" %}selected{% endif %}>AB+</option>
                <option value="AB-" {% if employee.blood_group == "AB-" %}selected{% endif %}>AB-</option>
                <option value="O+" {% if employee.blood_group == "O+" %}selected{% endif %}>O+</option>
                <option value="O-" {% if employee.blood_group == "O-" %}selected{% endif %}>O-</option>
            </select>
        </div>
        <button type="submit" class="btn btn-success">Save</button>
        <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
    </form>
{% endblock %}
